In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mysql.connector

In [4]:
# Connect to mysql database
cnx = mysql.connector.connect(user='root', password='Kh18riku!',
                                host='127.0.0.1',
                                database='global_n2o')
cursor = cnx.cursor()

query = ("SELECT * FROM ClassificationModel")
# Execute the query and fetch all results
alldata = pd.read_sql(query, cnx)
cnx.close()

/home/ryan/.virtualenv/time/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [14]:
# Get a list of all the RepIDs that occur in the data at least 350 times
RepIDs = alldata['RepID'].value_counts()
RepIDs = RepIDs[RepIDs > 350]
RepIDs = RepIDs.index.tolist()

# Drop all rows that do not have a RepID in the list
alldata = alldata[alldata['RepID'].isin(RepIDs)]

In [15]:
# Get the number of rows where MCDHM5 is equal to 1
mcdhm = alldata['MCDHM5'].value_counts(1)
print(mcdhm)

iqrhm = alldata['IQRHM'].value_counts(1)
print(iqrhm)

0    0.749785
1    0.250215
Name: MCDHM5, dtype: float64
0    0.89093
1    0.10907
Name: IQRHM, dtype: float64

In [19]:
# Get the sum of all N2OFlux where MCDHM5 is equal to 1
mcdhm_flux = alldata[alldata['MCDHM5'] == str(1)]
mcdhm_flux = mcdhm_flux['N2OFlux'].sum()

iqrhm_flux = alldata[alldata['IQRHM'] == 1]
iqrhm_flux = iqrhm_flux['N2OFlux'].sum()

total_flux = alldata['N2OFlux'].sum()
print("HCD Hot moment flux proportion: " + str(mcdhm_flux/total_flux))
print("IQR Hot moment flux proportion: " + str(iqrhm_flux/total_flux))

HCD Hot moment flux proportion: 0.7004683701789572
IQR Hot moment flux proportion: 0.5662645298859871

In [17]:
print(alldata.head())

     RepID  IQRHM MCDHM MCDHM5        Date  DOY  N2OFlux  VWC  WFPS    SoilT  \
298      4      0     1      1  2010-05-29  149  21.5044  NaN   NaN   7.8243
299      4      1     1      1  2010-05-30  150  73.5390  NaN   NaN   7.8243
300      4      1     1      1  2010-05-31  151  73.5390  NaN   NaN  15.6487
301      4      0     1      1  2010-06-01  152  14.6450  NaN   NaN  18.9469
302      4      0     1      1  2010-06-02  153  14.6450  NaN   NaN  17.3050

     ...  NitrogenForm  AirTMax  AirTMin Sand  Silt  Clay  pH  PrimaryCrop  \
298  ...          None      NaN      NaN  NaN   NaN  10.0 NaN       Poplar
299  ...          None      NaN      NaN  NaN   NaN  10.0 NaN       Poplar
300  ...          None      NaN      NaN  NaN   NaN  10.0 NaN       Poplar
301  ...          None      NaN      NaN  NaN   NaN  10.0 NaN       Poplar
302  ...          None      NaN      NaN  NaN   NaN  10.0 NaN       Poplar

     Management  Tillage
298  Zero Input
299  Zero Input
300  Zero Input
301  Zero Input
302  Zero Input

[5 rows x 23 columns]